# IDE
*.iws
.idea/workspace.xml

/target
Cargo.lock

# CUDA
*.exe
*.exp
*.lib
*.ptx

# Molecular formats
*.pdb
*.cif
*.bcif
*.gz
*.sdf
*.mol2
*.pdbqt
*.mtz
*.map
*.frcmod
*.dat
*.ff19SB
*.opc

# Our prefs format.
*.dae